<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Страницы</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
    />
    <link href="css/style.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <style>
      a {
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
<ul>
    <li><a href="index.html">Главная</a></li>
    <li><a href="login.html">Авторизация</a></li>
    <li><a href="thanks.html">Мы отправили ссылку на Вашу почту</a></li>
    <li><a href="lost-password.html">Забыли пароль</a></li>
    <li><a href="new-password.html">Установить пароль</a></li>
    <li><a href="index-payment_disabled.html">Главная (оплата отключена)</a></li>
    <li><a href="plan.html">План марафона</a></li>
    <!--<li><a href="plan-results.html">План - результаты</a></li>
    <li><a href="plan-six.html">План - шестая неделя</a></li>-->
    <li><a href="profile-1.html">Профиль участника</a></li>
    <!--<li><a href="profile-2.html">Профиль - 2</a></li>-->
    <li><a href="quiz.html">Анкета</a></li>
    <li><a href="quiz-thanks.html">Анкета - спасибо</a></li>
    <li><a href="results.html">Результаты</a></li>
    <li><a href="settings.html">Настройки профиля</a> Если в параметрах URL changes=saved, то выводим success modal (http://kaznet.su/html/fit/settings.html?changes=saved). Работает со всеми формами с классом 'settings-form'</li>
    <li><a href="materials.html">Дополнительные материалы</a></li>
    <li><a href="check-in.html">Check in</a></li>
</ul>

<h2>Тренер</h2>
<ul>
  <li><a href="trainer-start.html">Тренер. Добавление потока</a></li>
  <li><a href="trainer-stream.html">Тренер. Потоки</a></li>
  <li><a href="trainer-stream_item.html">Тренер. Список участников потока</a> В таблице у каждого участника есть user_id, он передается в форму удаления участникам.</li>
  <li><a href="trainer-settings.html">Тренер. Настройки</a></li>
  <li><a href="trainer-member_nodata.html">Тренер. Не заполненный профиль участника</a></li>
  <li><a href="trainer-member_nodata_2.html">Тренер. Не заполненный профиль участника. С данными квиза</a></li>
  <li><a href="trainer-member.html">Тренер. Участник - данные загружены</a></li>
  <li><a href="trainer-report.html">Тренер. Участник - отчет по неделям</a></li>
</ul>
</body>
</html>
